body{
    width: 100vw;
    height: 100vh;
    background-color: #EAF2FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 95%;
    height: 95%;
    margin: auto;
}

.main_top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.main_top_map{
    width: 48%;
    height: 100%;
    background-color: white;
    transition: box-shadow 0.5s;
    box-shadow: 10px 10px 30px rgba(18, 47, 61, 0.5), -10px -10px 30px rgba(248, 253, 255, 0.9), inset 10px 10px 30px transparent, inset -10px -10px 30px transparent;
}
.main_top_map img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main_top_video{
    width: 48%;
    height: 100%;
    background-color: white;
    transition: box-shadow 0.5s;
    box-shadow: 10px 10px 30px rgba(18, 47, 61, 0.5), -10px -10px 30px rgba(248, 253, 255, 0.9), inset 10px 10px 30px transparent, inset -10px -10px 30px transparent;
    object-fit: cover;
}

.main_bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
    .main_bottom_facility, .main_bottom_individual{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .main_bottom_facility_main, .main_bottom_individual_main{
            width: 90%;
            height: 80%;
            border-radius: 15px;
            box-shadow: 0 0 8px gray;
            background-color: white;
        }
            .main_bottom_facility_main_pointDanger{
                list-style-type: none;
                margin: 0 auto;
                margin: 0;
                padding: 0 10px 0;
            }
                .main_bottom_facility_main_pointDanger li{
                    position: relative;
                    margin-bottom: 35px;
                    padding-left: 6px;
                }
                    .main_bottom_facility_main_pointDanger li .dataInfo, .main_bottom_facility_main_pointDanger li .dataInfo_bar{
                        position: absolute;
                        left: 0;
                        height: 15px;
                        border-radius: 5px;
                        content: "";
                    }
                    .main_bottom_facility_main_pointDanger li .dataInfo{
                        bottom: -24px;
                        width: 100%;
                        background-color: #333;
                        text-align: right;
                    }
                        .main_bottom_facility_main_pointDanger li .dataInfo_bar{top: 0;}
                        .main_bottom_facility_main_pointDanger li .dataInfo_parcent{
                            position: absolute;
                            top: -19px;
                            right: 0;
                            opacity: 0;
                            transition: opacity 0.3s linear;
                        }
            .main_bottom_individual_main_data{
                display: flex;
                justify-content: space-between;
            }
                .main_bottom_individual_main_data_mask{
                    width: 40%;
                    height: 225px;
                    position: relative;
                }
                    .main_bottom_individual_main_data_mask_circle{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        background: #fff;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        border: 10px solid #b48fca;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .main_bottom_individual_main_data_mask_circle:after {
                            content: '';
                            background: trasparent;
                            width: 140%;
                            height: 140%;
                            position: absolute;
                            border-radius: 100%;
                            top: -20%;
                            left: -20%;
                            opacity: 0.7;
                            box-shadow: rgba(113, 45, 240, 0.6) -4px -5px 3px -3px;
                            animation: rotate 2s infinite linear;
                        }
                        @keyframes rotate {
                            0% {
                              transform: rotateZ(0deg);
                            }
                            100% {
                              transform: rotateZ(360deg);
                            }
                        }
                        .main_bottom_individual_main_data_mask_circle span{
                            font-size: 35px;
                            font-weight: bold;
                            color: #4eaf7c;
                        }
                .main_bottom_individual_main_data_temperature{
                    width: 55%;
                    height: 100%;
                }

    .main_bottom_comprehensive{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .main_bottom_comprehensive_main{
            width: 90%;
            height: 90%;
        }
            .main_bottom_comprehensive_main_data{
                width: 100%;
                height: 90%;
                border-radius: 15px;
                box-shadow: 0 0 8px gray;
                background-color: white;
            }
                .main_bottom_comprehensive_main_data_meter{
                    height: 140px;
                    overflow: hidden;
                    position: relative;
                }
                .main_bottom_comprehensive_main_data_meter:after, .main_bottom_comprehensive_main_data_meter:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 36%;
                    z-index: 100;
                }
                .main_bottom_comprehensive_main_data_meter:before {
                    left: 0;
                    border-left: 130px solid #fff;
                    border-top: 82px solid transparent;
                }
                .main_bottom_comprehensive_main_data_meter:after {
                    right: 0;
                    right: 0;
                    border-right: 130px solid #fff;
                    border-top: 82px solid transparent;
                }
                .main_bottom_comprehensive_main_data_item{
                    margin-top: 10px;
                    padding: 0 10%;
                    display: flex;
                    justify-content: space-between;
                }
                    .main_bottom_comprehensive_main_data_item_level{
                        font-size: 5rem;
                        font-weight: bold;
                        color: green;
                    }
                .main_bottom_comprehensive_main_data_detail{
                    text-align: center;
                    margin: 0;
                }
                .main_bottom_comprehensive_main_data_visited{
                    padding: 0 5px;
                    display: flex;
                    justify-content: space-between;
                }



                












                .container {
                    /* width: 283px;
                    margin: 0 auto; */
                    /* padding-top: 39px; */
                  }
                  
                  .widget {
                    background: white;
                    border-radius: 5px;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
                  }
                  
                  .section:first-child {
                    border-radius: 5px 5px 0 0;
                  }
                  
                  /*
                   * Graph section
                   */
                  .section-graph {
                    position: relative;
                    height: 151px;
                    color: #fff;
                    background: #55bc75;
                    background-image: linear-gradient(#55bc75, #55bc75 50%, #4daf7c 50%);
                  }
                  .section-graph .graph-info {
                    z-index: 99;
                    position: absolute;
                    font-weight: bold;
                    margin-top: 18px;
                    margin-left: 21px;
                    width: 100px;
                  }
                  .section-graph .graph-info .graph-arrow {
                    width: 0;
                    height: 0;
                    margin-top: 18px;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 4px solid white;
                    float: left;
                  }
                  .section-graph .graph-info .graph-info-big {
                    font-size: 24px;
                    float: left;
                    margin-left: 3px;
                  }
                  .section-graph .graph-info .graph-info-small {
                    margin-left: 3px;
                    font-size: 12px;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.5);
                    clear: left;
                    margin-left: 8px;
                  }
                  
                  /*
                   * Info Section
                   */
                  h3 {
                    font-size: 18px;
                    margin-top: 2px;
                  }
                  
                  h4 {
                    font-size: 13px;
                    font-weight: normal;
                    margin-bottom: 10px;
                  }
                  
                  .section-info {
                    padding: 21px 21px 41px;
                    color: #8a786a;
                    overflow: hidden;
                  }
                  
                  .info-time {
                    font-size: 12px;
                  }
                  
                  .info-block {
                    background-color: #f5f0ec;
                    text-align: center;
                    width: 120px;
                    border-radius: 3px;
                    float: left;
                    padding: 4px 0;
                  }
                  .info-block.last {
                    margin-left: 1px;
                  }
                  .info-block dt, .info-block dd {
                    margin: 0;
                    padding: 0;
                  }
                  .info-block dt {
                    font-weight: bold;
                  }
                  .info-block dd {
                    font-size: 12px;
                  }
                  
                  .info-aapl {
                    float: left;
                  }
                  .info-aapl ul {
                    margin: 0;
                    padding: 0;
                  }
                  .info-aapl li {
                    margin: 0;
                    display: block;
                    width: 9px;
                    height: 40px;
                    margin-right: 6px;
                    background-color: #f5f0ec;
                    float: left;
                    position: relative;
                  }
                  .info-aapl li span {
                    display: block;
                    width: 9px;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                  }
                  .info-aapl li span.orange {
                    background-color: #e75e3a;
                  }
                  .info-aapl li span.green {
                    background-color: #4eaf7c;
                  }
                  
                  .yearly-change {
                    width: 94px;
                    float: right;
                  }
                  .yearly-change span {
                    display: block;
                    height: 40px;
                    line-height: 40px;
                    color: white;
                    background-color: #4eaf7c;
                    text-align: center;
                    border-radius: 3px;
                    font-weight: bold;
                  }
                  .yearly-change span em {
                    color: rgba(255, 255, 255, 0.7);
                  }
                  